/*
Theme Name: boots
Theme URI: http://www.tenman.info/wp3/boots
Description: header and footer full width Child theme of Raindrops. This theme has been taken into account so we have complete control in the child theme of various functions of Raindrops theme.
Author: Tenman
Author URI: http://www.tenman.info/wp3/
Version: 1.303
Tags:black, blue, gray, brown, green, orange, pink, purple, red, silver, tan, white, yellow,dark,light,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar, custom-colors, custom-header, custom-background, custom-menu, editor-style, theme-options, threaded-comments, sticky-post, translation-ready, post-formats, featured-images, full-width-template, fixed-layout, fluid-layout, responsive-layout
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: raindrops
*/
/** ALL COLOR TYPES
 * Common Styles
 *
 *
 */

@import url( ../raindrops/childs/boots/base.css );


.menu-header{
    border:1px solid transparent
}
#access .menu{
    border:1px solid transparent;
}
.rsidebar .eco-archive .month a,
.lsidebar .eco-archive .month a,
.rsidebar .eco-archive .year a,
.lsidebar .eco-archive .year a,
.lsidebar .widget_tag_cloud .tagcloud a,
#site-title span{

    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.rd-type-boots #header-image{
    position:relative;
}
.rd-type-boots #header-image .tagline{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:block;
    height:1.6em;
    margin: auto;
    width:80%;
    text-align:center;
    font-size:186%;
}

.rd-type-boots #site-title{
    margin:.5em 0 0;
}

/* for template front-page.php */
.page-template-page-templatesfront-page-php.rd-type-boots #top #site-description,
.page-template-page-templatesfront-page-php.rd-type-boots #hd{
    display:block!important;
}

/* for template front-page.php end */
/* the events calendar plugin */
.events-archive .entry-title,
.events-single .entry-title,
.icon-link-no-title{
    display:none;
}
.enable-keyboard a:focus{
    border-bottom:1px solid #DC143C;
    margin-bottom:-1px!important;
}
.rd-type-boots .entry-title{
    min-height:1.4em;
}
/** ALL COLOR TYPES
 * HEADER
 *
 */
#header-image{
    margin:auto;
    width:100%!important;
    overflow:hidden;
    background-size:cover;
    min-height:100px;
}
header#top{
    background:transparent;
}
#header-inner{
    text-align:left;
    padding:1em;

}
/** ALL COLOR TYPES
 * DOCUMENT BODY
 *
 */
#bd{
    margin-top:3px;
    margin-bottom:8px;
}
/** ALL COLOR TYPES
 * FOOTER
 *
 */
#ft{
    background-repeat:repeat!important;
    margin:auto;
    width:100%!important;
    overflow:hidden;
    background:#999;
    color:#fff;
}
#ft #calendar_wrap,
#ft a{
    color:#fff;
}
#ft div.widget-wrapper>ul>li {
    padding: .5%;
    width: 32.3%;
    float: left;
    display: inline-block;
    margin: auto;
    text-align:left;
}
#ft .footer-widget h2{
    background-repeat:no-repeat;
}
address{
    margin-top:16px;
}
#ft #calendar_wrap th{
    background:#fff;
    color:#333;
    padding:1em 0;
}
#ft #calendar_wrap td{
    border:1px solid rgba(222,222,222,1);
    text-align:center;
    padding:1em 0;
}
#ft #calendar_wrap tfoot td{
    border:none;
    text-align:left;
}
.rd-type-minimal #ft{
    background:url( images/footer.png );
}
/** ALL COLOR TYPES
 *
 *
 */
.gallery {
    margin: auto;
    width: 100%;
}
.gallery dl {
    margin: 0px;
}
.gallery .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
}
.gallery img {
    border: 2px solid #cfcfcf;
    max-width:100%;
}
.gallery .gallery-caption {
    margin-left: 0;
}
.gallery br {
    clear: both
}
.gallery-columns-1 dl{
    width: 100%
}
.gallery-columns-2 dl{
    width: 50%
}
.gallery-columns-3 dl{
    width: 33.3%
}
.gallery-columns-4 dl{
    width: 25%
}
.gallery-columns-5 dl{
    width: 20%
}
.gallery-columns-6 dl{
    width: 16.6%
}
.gallery-columns-7 dl{
    width: 14.28%
}
.gallery-columns-8 dl{
    width: 12.5%
}
.gallery-columns-9 dl{
    width: 11.1%
}
.gallery-columns-10 dl{
    width: 9.9%
}

#access{
    position:relative;
}
#page-top span{
    display:inline-block;
    width:24px;
    height:24px;
    background:url( images/go-top.png );
    background-size:contain;
   margin-top:.5em
}
#desmiss span{
    display:inline-block;
    width:24px;
    height:24px;
    background:url( images/desmiss.png );
    background-size:contain;
    margin-top:.5em;
    position:absolute;
    right:10px;
    top:-50px;
}
.pagination{
    font-size:123%;
}
.page-numbers {
    border:1px solid #ccc;
}
.pagenation .dots,
.pagination .prev,
.pagination .next{
    border:none;
}

.sticky-widget #wp-calendar tfoot td,
.sticky-widget #wp-calendar th{
    border:none!important;
}
.sticky-widget #wp-calendar #prev,
.sticky-widget #wp-calendar tbody #today{
    background:#efefef;
}
.sticky-widget #wp-calendar tbody td{
    border:1px solid #ccc;
}
.sticky-widget #wp-calendar tfoot td{
    border:none;
}
.sticky-widget.widget_recent-post-groupby-cat .xoxo > li > ul >li{
    border-bottom:1px dotted #ccc;
}
.entry-content blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.entry-content blockquote:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    height:36px;
}
.entry-content blockquote p {
    display: inline;
}
.entry-content table th,
.entry-content table td {
    padding:1em 0;
}
#doc5 .static-front-content{
    padding:2em 1em 0;
    box-sizing:border-box;
}

.raindrops-sticky .sticky-single-follow-text.anytime a{
    display:inline-block;
    font-size:100%;
    padding:.3em .6em;

}
/** ALL COLOR TYPES
 * Form
 *
 */
input[type="file"],
input[type="reset"],
input[type="submit"]{
    font-size:11px;
}
textarea,
form input[type="password"],
form input[type="url"],
form input[type="tell"],
form input[type="search"],
form input[type="datetime-local"],
form input[type="datetime"],
input[type="number"],
input[type="email"],
input[type="text"]{
    padding:.3em ;
}
/** COLOR TYPE boots
 *
 * Base Color Type : Dark
 *
 */
.home.rd-type-boots #header-image{
    min-height:100px;
}

.rd-type-boots .rsidebar,
.rd-type-boots .lsidebar{
    margin-top:5px;
    margin-bottom:5px;
}
.rd-type-boots .yui-t6 .lsidebar,
.rd-type-boots .yui-t5 .lsidebar,
.rd-type-boots .yui-t4 .lsidebar{
    margin-right:5px;
    margin-left:-6px;
}
.rd-type-boots .rsidebar a,
.rd-type-boots .lsidebar a{
    padding:10px;
}
.rd-type-boots .lsidebar .widget_text .wp-caption a,
.rd-type-boots .rsidebar .widget_text .wp-caption a{
    display:inline-block;
    box-sizing:border-box;
}
.rd-type-boots .rsidebar ul li ul li,
.rd-type-boots .lsidebar ul li ul li{
    padding-top:.5em;
}

.rd-type-boots.home.ie9 #header-image{
    min-height:160px;
}
.rd-type-boots address{
    margin-top:16px;
}
body.rd-type-boots{
    border-top:none;
}
.rd-type-boots  .datetable #date_list,
.rd-type-boots  .datetable .month-date{
    text-align:center;
    vertical-align:top;
}
.rd-type-boots #ft #wp-calendar caption{
    padding:1em;
}
.rd-type-boots  .datetable .month-date .day-name{
    margin:1em;
}
.rd-type-boots  .datetable .time + td,
.rd-type-boots  .datetable .month-date + td{
    text-align:left;
}
.rd-type-boots #raindrops_year_list .month-name a{
    margin-top:1em;
}
.rd-type-boots #raindrops_year_list .month-name,
.rd-type-boots .month-date .day-name{
    text-align:center;
    vertical-align:middle;
}

.rd-type-boots #wp-calendar tfoot #next{
    text-align:right;
}

/** COLOR TYPE BOOTS
 *
 * Borders
 *
 */

.rd-type-boots #ft .widgettitle{
    border-bottom:1px solid rgba(222,222,222,1);
}

.rd-type-boots  .datetable .time + td,
.rd-type-boots  .datetable .month-date + td ,
.rd-type-boots  .datetable .month-date + td > ul > li{
    border-bottom:1px solid rgba(222,222,222,1);
}
.rd-type-boots .commentlist .comment{
    border:1px solid rgba(222,222,222,1);
}
.rd-type-boots .commentlist .children li{
    border:none;
}
.rd-type-boots .commentlist .children .reply{
    border-bottom:1px solid rgba(222,222,222,1);
}
.rd-type-boots #raindrops_year_list td,
.rd-type-boots #date_list td,
.rd-type-boots #month_list td{
    border:1px solid rgba(222,222,222,1);
}
.rd-type-boots #raindrops_year_list td{
    height:2em;
    vertical-align:middle;
    text-align:left;
}
.rd-type-boots .rsidebar ul li ul li,
.rd-type-boots .lsidebarul ul li ul li{
    color:#999;
}
.rd-type-boots #header-image .tagline{
    font-size:2vw;
    text-shadow:none;
}


.rd-type-boots .raindrops-extend-archive li{
    text-align:left;
}
.rd-type-boots .yui-t4 #yui-main + .yui-b,
.rd-type-boots .yui-t5 #yui-main + .yui-b,
.rd-type-boots .yui-t6 #yui-main + .yui-b{

    padding-left:3px;
    box-sizing:border-box;
}
.rd-type-boots .yui-t1 #yui-main + .yui-b,
.rd-type-boots .yui-t2 #yui-main + .yui-b,
.rd-type-boots .yui-t3 #yui-main + .yui-b{

}
.rd-type-boots .rsidebar{

    padding-left:3px;
    box-sizing:border-box;
}
.rd-type-boots textarea,
.rd-type-boots input[type="text"],
.rd-type-boots input[type="submit"],
.rd-type-boots input[type="reset"],
.rd-type-boots input[type="file"]{
        border:1px solid #ccc;
}
.rd-type-boots .social input[type="submit"]{
    padding:.3em .5em;
    font-size:100%;
}
.rd-type-boots .entry-content input[type="button"],
.rd-type-boots .entry-content input[type="submit"],
.rd-type-boots .entry-content input[type="reset"],
.rd-type-boots .entry-content input[type="file"]{
    font-size:100%;
}
.rd-type-boots .lsidebar select[name="archive-dropdown"] option{

}
.rd-type-boots #wp-calendar{
    border:1px solid #ccc;
}
.rd-type-boots .attachment-navigation .next a,
.rd-type-boots .attachment-navigation .prev a{
    background:none;
}
.nocomments,
.entry-meta .this-posted-in,
.rd-type-boots address .comments-rss:after,
.rd-type-boots address .entry-rss:after,
.rd-type-boots #comments .form-allowed-tags:before,
.rd-type-boots #comments .nopassword:before,
.rd-type-boots #comments .nocomments:before,
.rd-type-boots .comment-notes:before,
.rd-type-boots .logged-in-as:before,
.rd-type-boots .nav-next a:after,
.rd-type-boots .nav-previous a:before{
    display:none;
}

@media screen and (max-width : 640px){



    #boots .lsidebar,
    #boots .rsidebar{
        min-height:none!important;
    }

    .rd-type-boots .rsidebar,
    .rd-type-boots .lsidebar{
        height:auto!important;
    }
     #yui-main .yui-u .rsidebar,
    #yui-main .yui-u .lsidebar{
        min-height:0!important;
    }
    .rd-type-boots #access a{
        text-align:left;
        color:#fff;
    }
    .rd-type-boots #access li{
     /*   background:transparent;*/
        background:#000;
        padding-left:1em;
    }
    .rd-type-boots .raindrops-mobile-menu{
      position:relative;
      top:0;
      z-index:9999;
    }
    .rd-type-boots #access{

        padding-bottom:1em;
    }
    .rd-type-boots #ft .footer-widget {
        float:none;
        margin:0;
        margin-left:0;
        margin-right:0;
        display:block;
        max-width:100%;
        width:100%;
        box-sizing: border-box;
        clear:both;
        background-repeat:no-repeat;
        position:static;
    }

    .rd-type-boots #ft .widget_categories ul li a,
    .rd-type-boots #ft .widget_categories ul li a,
    .rd-type-boots #ft .widget_archive ul li a,
    .rd-type-boots #ft .widget_archive ul li a,
    .rd-type-boots #ft .categories ul li a,
    .rd-type-boots #ft .categories ul li a{
        display:inline-block;
        width:85%;
        padding:.5em;
    }
    .rd-type-boots #ft .widget_tag_cloud .tagcloud a,
    .rd-type-boots #ft .widget_tag_cloud .tagcloud a{
        display:inline-block!important;
        width:23%;
        padding:.5em 0;

    }
    .rd-type-boots .footer-widget h2,
    .rd-type-boots h2.footer-content{
        background-repeat:no-repeat;
        height:2em;
        background:none;
    }
    #doc3 .reply, #ft a{
        display:block;
        background-repeat:no-repeat;
        width:100%;
        height:100%;
        margin:0;
        padding:0.5em;
        box-sizing: border-box;
        font-size:123%;

    }
    #desmiss,
    #page-top{
        display:none!important;
    }
    .rd-type-boots .lsidebar,
    .rd-type-boots .lsidebar{
        min-height:0;
    }
    .widget_recent-post-groupby-cat.footer-widget > ul{
        position: relative;
        display: block;
        margin-left: 60px;
        width: 80%;
        width: calc(100% - 60px);
        min-height: 4.5em;
        max-width: 100%;
        box-sizing: border-box;
    }
    #doc5 #container.yui-gc > .yui-u:not(.first),
    #doc4 #container.yui-gc > .yui-u:not(.first),
    #doc3 #container.yui-gc > .yui-u:not(.first){
        width:100%;
    }
}
@media screen and (min-width : 641px){
    .rd-col-1 .index article{
        overflow:hidden;
    }

    .child-boots #access .children a,
    .child-boots #access .sub-menu a{
        border-bottom:1px solid rgba(222,222,222,.3);
    }
    .child-boots #access ul li ul,
    .child-boots #access ul li:hover ul ul,
    .child-boots #access ul ul li:hover ul ul,
    .child-boots #access ul ul ul li:hover ul ul,
    .child-boots #access ul ul ul ul li:hover ul ul {
        visibility:hidden;
        opacity:0;
        transition:visibility 0s linear 0.5s,opacity 0.5s linear;
        z-index: 9999;
    }
    .child-boots #access ul li:hover ul,
    .child-boots #access ul ul li:hover ul,
    .child-boots #access ul ul ul li:hover ul,
    .child-boots #access ul ul ul ul li:hover ul,
    .child-boots #access ul ul ul ul ul li:hover ul {
        visibility:visible;
        opacity:1;
        transition-delay:0s;
    }

    #nav-above{
        display:none;
    }
    #access.boots-menu-fixed{
        position:fixed;
        z-index:99999;
        top:0;
        left:0;
        display: block;
        float: left;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(155, 157, 157, 0.75);
        -moz-box-shadow:    0px 4px 8px 0px rgba(155, 157, 157, 0.75);
        box-shadow:         0px 4px 8px 0px rgba(155, 157, 157, 0.75);

    }
    .admin-bar #access.boots-menu-fixed{
        top:32px;
    }
    a#page-top{
        display:inline-block;
    }
    a#page-top:hover{
        cursor:pointer;
    }
    .rd-type-boots #access.boots-menu-fixed{
        background:#fff;
    }
    .rsidebar .eco-archive li, .lsidebar .eco-archive li {
        display: inline-block;
        margin: 0 1% 0;
        border:none;
    }
    .rsidebar .eco-archive li a, .lsidebar .eco-archive li a{
        padding:0;
    }
    .rsidebar .eco-archive li a:after, .lsidebar .eco-archive li a:after{
        content: ',';
    }

}

.rd-type-minimal #access{
    background:#fff;
}
.rd-type-boots .rsidebar > ul > li:not(.widget_recent_comments),
.rd-type-boots .lsidebar > ul > li:not(.widget_recent_comments){

}
/*
.rd-type-boots .lsidebar .widget_recent_comments li{
    overflow:auto;
}*/
.rd-type-boots #archives-title .label{
    display:none;
}
.single.rd-type-boots .entry-content{
    min-height:180px;
}
.rd-type-boots #access,
.rd-type-boots #hd,
.rd-type-boots #bd{
    background:#fff;
}
.rd-type-boots #access{
    width:100%;
    margin:0 0 -8px;
}
.rd-type-boots .rsidebar ul li ul li,
.rd-type-boots .lsidebar ul li ul li{
    padding-top:.7em;
}
.rd-type-boots .wpcf7,
.rd-type-boots .wpcf7-textarea {
    max-width:94%;
    margin:0 auto;
}

.rd-type-boots .more-link{
    margin:14px;
    border-radius:0.38461538461em;
    -moz-border-radius:0.38461538461em;
    padding:0.38461538461em;
    display:inline-block;
}
#nav-below-comments .nav-next a,
#nav-below-comments .nav-previous a,
#nav-above-comments .nav-next a,
#nav-above-comments .nav-previous a{

    display:inline-block;
     border-radius:0.38461538461em;
    -moz-border-radius:0.38461538461em;
    padding:0.38461538461em;
}
#comments .pingback a{
    display:inline-block;
    margin:0 1em;
}
.rd-type-boots .raindrops-excerpt-more .meta-nav,
.rd-type-boots .more-link .meta-nav{
    display:none;
}
.comment .reply,
.rd-type-boots .edit-link{
    display:inline-block;
    margin:0 0 0 1em;
    padding:2px 6px;
    border-top-left-radius:0.38461538461em;
    -moz-border-top-left-radius:0.38461538461em;
     border-top-right-radius:0.38461538461em;
    -moz-border-top-right-radius:0.38461538461em;
    white-space:pre;
}
.comment .reply{
    white-space:normal;
}

.raindrops-mobile-menu:target {

    background-color: #000;
}
.rd-type-boots #recentcomments a{
    width:auto;
}


.widget_rss .footer-widget + ul li{
   width:90%;
   margin:1em auto;
   background:#fff;
   color:#000;
}
#ft .footer-widget + ul li .rsswidget{
    display:block;
    padding:1em;
}
.footer-widget + ul li .rss-date{
    display:block;
    border:1px solid white;
    text-align:right;
    padding-right:1em;
}
.footer-widget + ul li .rssSummary{
    display:block;
    padding:1em;
}
.footer-widget + ul li cite{
    display:block;
    text-align:right;
    padding-right:1em;
}
#ft .footer-widget .widgettitle{
    height:auto;
    text-align:center;
}
#ft .footer-widget .widgettitle + ul{
    width:90%;
    margin:auto;
}
#ft .footer-widget  a.rsswidget{
    display:inline;
    width:auto;
}
.footer-widget .rsswidget img{
    display:inline;
    border:1px solid red;
}
.page.rd-col-1 #bd,
.page.rd-col-1 .yui-g,
.page.rd-col-1 .yui-gb,
.page.rd-col-1 .yui-gc,
.page.rd-col-1 .yui-gd,
.page.rd-col-1 .yui-ge,
.page.rd-col-1 .yui-gf,
.single.rd-col-1 #bd,
.single.rd-col-1 .yui-g,
.single.rd-col-1 .yui-gb,
.single.rd-col-1 .yui-gc,
.single.rd-col-1 .yui-gd,
.single.rd-col-1 .yui-ge,
.single.rd-col-1 .yui-gf{
    margin-bottom:0;
}
.rd-type-boots .raindrops-pinup-entries a{
    padding:0;
}
.comment-edit-link{
    margin-left:1em;
}
.rd-type-boots hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

    width:80%;
    margin:1em auto 1em;
}
.rd-type-boots p + hr{
    margin:0 auto 1em;
}
.rd-type-boots hr.inset {
    border: 0;
    height: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    width:80%;
    margin:auto auto 1em;
}